<header id="hero" class="relative z-10 flex flex-col w-full bg-zest">
    <h2 class="text-xl font-serif font-bold text-center uppercase p-4 pt-10 pb-[6%]">
        Saunabad <br> 
        <span class="text-lg">Rykestraße</span>
    </h2>

    <div class="relative bottom-0 translate-y-2/4">
        <h1 class="font-serif text-9xl leading-[1] text-center uppercase mb-0">Datenschutz</h1>
        <!-- <h3 class="text-2xl leading-[1.2] absolute w-full font-sans text-center px-10 mt-2">Sauna und Massagen in Prenzlauer Berg</h3> -->
    </div>
</header>