---
layout: base.liquid
title: Saunabad Berlin - Sauna und Wellness in Prenzlauer Berg
eleventyNavigation:
    key: Home
---

{% include 'partials/nav' %}

<section class="bg-blue-500 h-96 w-full flex flex-col">
    <h2 class="font-serif font-bold text-2xl text-center uppercase leading-7 py-4 pt-10">
        Saunabad <br> Rykestraße
    </h2>
    <h1 class="font-display text-center text-9xl uppercase mt-10">Saunabad</h1>
    <h3 class="font-sans font-light text-2xl text-center">Sauna und Wellness in Prenzlauer Berg</h3>
</section>

