---
layout: base.liquid
title: Saunabad Berlin - Sauna und Wellness in Prenzlauer Berg
eleventyNavigation:
    key: Home
---

{% include 'partials/nav' %}

<section class="bg-acapulco-500 h-96 w-full">
    <h1 class="font-semibold text-3xl text-center uppercase leading-7 py-4">
        Saunabad <br> Rykestraße
    </h1>
</section>