.opening {
	animation: opening 0.4s forwards cubic-bezier(0.25, 1, 0.5, 1);
}

.accordion {
    &__collapse {
        transition: all 0.3s ease;
        
        &:hover {
            border-color: var(--color-copper);
        }
        
        &.open {
            background-color: var(--color-sand);
            border-color: var(--color-copper);
            
            .accordion__body {
                display: block;
            }

            svg {
                transform: rotate(180deg);
            }
            
            .accordion__header {
                border-bottom: 1px solid rgba(var(--color-copper), 0.2);
            }
        }
    }
} 