.accordion {
    &__collapse {
        transition: background-color 0.3s ease, border-color 0.3s ease;
        
        &:hover {
            border-color: var(--color-copper);
        }
        
        &.open {
            background-color: var(--color-sand);
            border-color: var(--color-copper);

            svg {
                transform: rotate(180deg);
            }
            
            .accordion__header {
                border-bottom: 1px solid rgba(var(--color-copper), 0.2);
            }
        }
    }

    &__body {
        height: 0;
    }

    &__content {
        opacity: 0;
        transform: translateY(-10px);
    }

    &__collapse.open &__body {
        height: auto;
    }

    &__collapse.open &__content {
        opacity: 1;
        transform: translateY(0);
    }
} 