@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color: theme("colors.dark.500");
}

.transition-fade {
	transition: 0.1s ease-in-out;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

@keyframes coming {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.coming {
	animation: coming 0.4s forwards cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes going {
	from {
		opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(30px);
	}
}

.going {
	animation: going 0.4s forwards cubic-bezier(0.25, 1, 0.5, 1);
	animation-delay: 0.15s;
}

.fluid-text {
	font-size: clamp(var(--min-font, 22px), var(--scaler, 14vw), var(--max-font, 23px));
}
