// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

// Imports
@import "./swiper";
@import "./mixins/fluid-text";

html {
	color: theme("colors.dark.500");
}

p, a, ul, span, table {
	@extend .text-base;
	font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
	@extend .text-base;
}

.transition-fade {
	transition: 0.1s ease-in-out;
	opacity: 1;
}

html.is-animating .transition-fade {
	opacity: 0;
}

@keyframes coming {
	from {
		opacity: 0;
		transform: translateY(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.coming {
	animation: coming 0.4s forwards cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes going {
	from {
		// opacity: 1;
		transform: translateY(0px);
	}
	to {
		opacity: 0;
		transform: translateY(30px);
	}
}

.going {
	animation: going 0.4s forwards cubic-bezier(0.25, 1, 0.5, 1);
	animation-delay: 0.15s;
}

.text {

	&-xs {
		@include fluid-type(0.75rem, 1.5rem);
		line-height: 1.2;
	}

	&-sm {
		@include fluid-type(0.875rem, 1.625rem);
		line-height: 1.4;
	}

	&-base {
		@include fluid-type(1rem, 1.75rem);
		line-height: 1.2;
	}

	&-lg {
		@include fluid-type(1.125rem, 1.875rem);
		line-height: 1.2;
	}

	&-xl {
		@include fluid-type(1.25rem, 2rem);
		line-height: 1.2;
	}

	&-2xl {
		@include fluid-type(1.5rem, 2.25rem);
		line-height: 1.2;
	}

	&-3xl {
		@include fluid-type(1.875rem, 2.625rem);
		line-height: 1;
	}

	&-4xl {
		@include fluid-type(2.25rem, 3rem);
		line-height: 1;
	}

	&-5xl {
		@include fluid-type(3rem, 3.75rem);
		line-height: 1;
	}

	&-6xl {
		@include fluid-type(3.75rem, 4.5rem);
		line-height: 1;
	}

	&-7xl {
		@include fluid-type(4.5rem, 5.25rem);
		line-height: 1;
	}

	&-8xl {
		@include fluid-type(6rem, 6.75rem);
		line-height: 1;
	}

	&-9xl {
		@include fluid-type(8rem, 8.75rem);
		line-height: 1;
	}

	&-hero-heading {
		@include fluid-type(3rem, 15rem);
		line-height: 1;
	}

	&-hero-subheading {
		@include fluid-type(1.75rem, 2.5rem);
		line-height: 1;
	}
	
	&-section-heading {
		@include fluid-type(3rem, 10rem);
		line-height: 1;
	}

}