<section id="gallery" class="overflow-hidden bg-green">
    <div class="px-8 sm:px-16 md:px-[4vw] py-20 md:py-[8vw]">
        <div class="swiper !overflow-visible cursor-grab">
            <div class="flex swiper-wrapper">
                {% for slide in gallery %}
                    <div class="swiper-slide flex flex-col bg-lila mr-[30px] lg:mr-[70px] p-4 md:p-[2.5vw]">
                        <h3 class="absolute top-0 left-0 w-full text-3xl italic font-bold text-center uppercase -translate-y-2/4">
                            {{ slide.title }}
                        </h3>
                        {% image slide.image, slide.title, "(min-width: 30em) 50vw, 100vw" "aspect-square object-cover w-full mt-4" %}
                        <p class="text-center pt-8 my-auto mx-auto xl:max-w-[70%]">{{ slide.description }}</p>
                    </div>
                {%- endfor %}
            </div>
        </div>
        <div class="flex">
            {% include 'icons/icon-arrow-left' classnames: 'w-[5vw] stroke-yellow cursor-pointer' %}
            {% include 'icons/icon-arrow-right' classnames: 'w-[5vw] stroke-yellow cursor-pointer' %}
        </div>
    
    </div>
</section>