<header id="hero" class="bg-yellow w-full flex flex-col relative z-10">
    <h2 class="font-serif font-bold text-2xl text-center uppercase leading-7 py-4 pt-10">
        <span class="text-3xl">Saunabad</span><br> Rykestraße
    </h2>

    <div class="translate-y-2/4 relative bottom-0">
        {% image "./src/images/ivy.png", "Ivy Plant Image", "(min-width: 30em) 50vw, 100vw", "absolute w-auto h-full " %}
        <h1 class="font-serif text-center text-9xl uppercase fluid-heading" style="--min-font: 22px; --max-font: 160px; --scaler: 12vw;">
            Saunabad</h1>
        <h3 class="absolute w-full font-sans font-bold text-2xl text-center fluid-heading px-5 leading-6 mt-2"
            style="--min-font: 22px; --max-font: 38px; --scaler: 4vw;">Sauna und Wellness in Prenzlauer Berg</h3>
    </div>
</header>