<header id="hero" class="relative z-10 flex flex-col w-full bg-yellow bg-[url('/images/saunagarten.jpg')] bg-center bg-cover">
    <div class="mx-auto rounded-full bg-yellow p-[2vw] relative -top-[2vw]">
        <h2 class="flex flex-col justify-center m-auto font-serif text-xl font-bold text-center uppercase aspect-square pt-[1vw]">
            Saunabad <br> 
            <span class="text-lg">Rykestraße</span>
        </h2>
    </div>

    <div class="relative bottom-0 translate-y-2/4">
        <h1 class="font-serif text-9xl leading-[1] text-center uppercase mb-0 text-shadow">Saunabad</h1>
        <h3 class="text-2xl leading-[1.2] absolute w-full font-sans text-center px-10 mt-2 font-bold">Sauna und Massagen in Prenzlauer Berg</h3>
    </div>
</header>