<section id="info" class="bg-blue">

    <div
        class="mx-auto max-w-screen-xl grid md:grid-cols-5 lg:grid-cols-3 gap-16 lg:gap-24 xl:gap-52 pt-36 md:pt-52 xl:pt-60 px-8 sm:px-16 lg:px-24 pb-12 sm:pb-16 lg:pb-24">

        <article class="md:col-span-3 lg:col-span-2 max-w-screen-md">
            <div class="mb-16">
                <h3 class="font-serif text-bold mb-4 fluid-heading">Aktuelles</h3>
                <p class="fluid-text">Im Saunabad gilt gemäß Infektionsschutzgesetz aktuell die 3G-Regel. Unsere Gäste
                    müssen geimpft oder genesen oder getestet sein.</p>
            </div>
            <div class="mb-16">
                <table class="table-fixed w-full text-left">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="font-serif fluid-heading text-bold mb-4">Öffnungszeiten</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fluid-text">
           
                        <tr>
                            <td>Montag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Dienstag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Mittwoch</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Donnerstag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Freitag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonnabend</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonntag</td>
                            <td class="text-right">12 - 24 Uhr</td>
                        </tr>
                    </tbody>
                </table>
                <p class="fluid-text w-full mt-4">Aufgüsse immer zur vollen Stunde.</p>
            </div>
            <div>
                <h3 class="font-serif fluid-heading text-bold mb-4">Saunainfos & Regeln</h3>
                <ul class="list-disc pl-5 fluid-text">
                    <li>Das Saunabad bietet zwei Saunen. Eine 100 Grad-Blockbohlen-Sauna in unserem Saunagarten und eine
                        80
                        Grad Innensauna.</li>
                    <li>Für den Besuch im Saunabad benötigen Sie als Equipment mindestens 2 große Badehandtücher und ein
                        Paar rutschfeste Badeschuhe.</li>
                    <li>Bitte legen Sie in den Saunakabinen beim Schwitzen immer ein
                        Handtuch unter Ihren gesamten Körper.</li>
                    <li>Aus Sicherheitsgründen bitte wir Sie darum, keine Glasgegenstände,
                        wie Trinkflaschen aus Glas, Kosmetikartikel in Glasbehältern oder
                        ähnliches in den Naßbereich unserer Saunaanlage mitzubringen.</li>
                    <li>Wir bitten Sie darum, die Privatsphäre unsere Gäste zu respektieren.
                        Deshalb bringen Sie bitte keine Mobiltelefone in unsere Saunaanlage. Dies gilt auch für andere
                        technische Geräte, die eine Video-oder Fotofunktion integriert haben. Das Mitführen dieser
                        Geräte
                        ist in unserer Anlage verboten.
                    </li>
                </ul>
            </div>
        </article>

        <div class="h-full md:col-span-2 lg:col-span-1">
            <div class="sticky top-32">
                <div class="bg-dark w-0.5 -left-8 lg:-left-12 xl:-left-26 md:h-full hidden md:block absolute"></div>
                <table class="table-fixed text-lg w-full text-left mb-16">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="fluid-heading font-serif text-bold mb-4">Eintrittspreise</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fluid-text">
                        <tr>
                            <td>4 Stunden</td>
                            <td class="text-right">€ 18,00</td>
                        </tr>
                        <tr>
                            <td>2,5 Stunden</td>
                            <td class="text-right">€ 16,00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed text-lg w-full text-left mb-16">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="font-serif fluid-heading text-bold mb-4">Leihgebühren</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fluid-text">
                        <tr>
                            <td>Bademantel</td>
                            <td class="text-right">€ 3,50</td>
                        </tr>
                        <tr>
                            <td>Handtuch</td>
                            <td class="text-right">€ 2,50</td>
                        </tr>
                        <tr>
                            <td>Badeschuhe</td>
                            <td class="text-right">€ 1,00</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table-fixed text-lg w-full text-left">
                    <thead>
                        <tr>
                            <th>
                                <h3 class="font-serif fluid-heading text-bold mb-4">Leihgebühren</h3>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="fluid-text">
                        <tr>
                            <td>Bademantel</td>
                            <td class="text-right">€ 3,50</td>
                        </tr>
                        <tr>
                            <td>Handtuch</td>
                            <td class="text-right">€ 2,50</td>
                        </tr>
                        <tr>
                            <td>Badeschuhe</td>
                            <td class="text-right">€ 1,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>