<section id="info" class="bg-blue">
    <div
        class="mx-auto max-w-screen-xl grid lg:grid-cols-5 lg:gap-44 xl:gap-60 pt-40 md:pt-48 lg:pt-64 xl:pt-80 px-8 sm:px-16 md:px-24 pb-12 sm:pb-16 lg:pb-24">
        <article class="lg:col-span-3 mb-12 lg:mb-16">
            <div class="mb-12 lg:mb-16">
                <h3 class="text-xl font-serif text-bold mb-4">Aktuelles</h3>
                <p>Im Saunabad gilt gemäß Infektionsschutzgesetz aktuell die 3G-Regel. Unsere Gäste
                    müssen geimpft oder genesen oder getestet sein.</p>
            </div>
            <div class="mb-12 lg:mb-16">
                <h3 class="text-xl font-serif text-bold mb-4">Öffnungszeiten</h3>
                <p class="mt-4 mb-4">Aufgüsse immer zur vollen Stunde.</p>
                <table class="table-fixed w-full text-left">
                    <tbody>
                        <tr>
                            <td>Montag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Dienstag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Mittwoch</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Donnerstag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Freitag</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonnabend</td>
                            <td class="text-right">15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonntag</td>
                            <td class="text-right">12 - 24 Uhr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3 class="text-xl font-serif text-bold mb-4">Saunainfos & Regeln</h3>
                <ul class="list-disc pl-5">
                    <li>Das Saunabad bietet zwei Saunen. Eine 100 Grad-Blockbohlen-Sauna in unserem Saunagarten und eine
                        80
                        Grad Innensauna.</li>
                    <li>Für den Besuch im Saunabad benötigen Sie als Equipment mindestens 2 große Badehandtücher und ein
                        Paar rutschfeste Badeschuhe.</li>
                    <li>Bitte legen Sie in den Saunakabinen beim Schwitzen immer ein
                        Handtuch unter Ihren gesamten Körper.</li>
                    <li>Aus Sicherheitsgründen bitte wir Sie darum, keine Glasgegenstände,
                        wie Trinkflaschen aus Glas, Kosmetikartikel in Glasbehältern oder
                        ähnliches in den Naßbereich unserer Saunaanlage mitzubringen.</li>
                    <li>Wir bitten Sie darum, die Privatsphäre unsere Gäste zu respektieren.
                        Deshalb bringen Sie bitte keine Mobiltelefone in unsere Saunaanlage. Dies gilt auch für andere
                        technische Geräte, die eine Video-oder Fotofunktion integriert haben. Das Mitführen dieser
                        Geräte
                        ist in unserer Anlage verboten.
                    </li>
                </ul>
            </div>
        </article>

        <div class="h-full lg:col-span-2">
            <div class="sticky top-32">
                <div class="bg-dark w-0.5 -left-8 lg:-left-12 xl:-left-20 md:h-full hidden lg:block absolute"></div>
                <h3 class="text-xl font-serif text-bold mb-4">Eintrittspreise</h3>
                <table class="table-fixed w-full text-left">
                    <tbody>
                        <tr>
                            <td>4 Stunden</td>
                            <td class="text-right">€ 18,00</td>
                        </tr>
                        <tr>
                            <td>2,5 Stunden</td>
                            <td class="text-right">€ 16,00</td>
                        </tr>
                    </tbody>
                </table>
                <a href="#preise" class="flex justify-end underline text-right mt-4 mb-12 lg:mb-16">
                    <span>weitere Infos</span>
                    {% include 'icons/icon-arrow-right' %}
                </a>
                <h3 class="text-xl font-serif text-bold mb-4">Leihgebühren</h3>
                <table class="table-fixed w-full text-left mb-12 lg:mb-16">
                    <tbody>
                        <tr>
                            <td>Bademantel</td>
                            <td class="text-right">€ 3,50</td>
                        </tr>
                        <tr>
                            <td>Handtuch</td>
                            <td class="text-right">€ 2,50</td>
                        </tr>
                        <tr>
                            <td>Badeschuhe</td>
                            <td class="text-right">€ 1,00</td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="text-xl font-serif text-bold mb-4">Preise für Massagen</h3>
                <table class="table-fixed w-full text-left mb-12 lg:mb-16">
    
                    <tbody>
                        <tr>
                            <td>30 Minuten</td>
                            <td class="text-right">€ 33,00</td>
                        </tr>
                        <tr>
                            <td>45 Minuten</td>
                            <td class="text-right">€ 47,00</td>
                        </tr>
                        <tr>
                            <td>60 Minuten</td>
                            <td class="text-right">€ 60,00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>