<section id="info" class="bg-blue">
    <div
        class="mx-auto md:grid md:grid-cols-5 lg:grid-cols-12 pt-36 pb-16 px-8 sm:px-16 md:px-0 md:py-[8vw] md:pt-[16vw]">
        <article class="md:col-span-3 lg:col-span-8 lg:max-w-[80%] mx-auto md:px-[4vw]">
            <div class="offset">
                <h3>Öffnungszeiten</h3>
                <p>Aufgüsse mit hochwertigen, <br> naturreinen Ölen  zur vollen Stunde.</p>
                <table>
                    <tbody>
                        <tr>
                            <td>Montag</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Dienstag</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Mittwoch</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Donnerstag</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Freitag</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonnabend</td>
                            <td>15 - 24 Uhr</td>
                        </tr>
                        <tr>
                            <td>Sonntag</td>
                            <td>12 - 24 Uhr</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="offset">

                <h3>Saunainfos & Regeln</h3>
                <ul class="pl-5 list-disc">
                    <li>Das Saunabad bietet zwei Saunen. Eine 100 Grad-Blockbohlen-Sauna in unserem Saunagarten und eine
                        80 Grad Innensauna.</li>
                    <li>Das Saunabad ist eine Nacktsauna. Das bedeutet, dass Sie beim Schwitzen in den Kabinen nackt auf
                        Ihrem Handtuch sitzen müssen. </li>
                    <li>Für den Besuch im Saunabad benötigen Sie als Equipment mindestens 2 große Badehandtücher und ein
                        Paar rutschfeste Badeschuhe. Wir empfehlen drei Handtücher oder einen zusätzlichen Bademantel.
                    </li>
                    <li>Bitte legen Sie in den Saunakabinen beim Schwitzen immer ein Handtuch unter Ihren gesamten
                        Körper.</li>
                    <li>Aus Sicherheitsgründen bitte wir Sie darum, keine Glasgegenstände, wie Trinkflaschen aus Glas,
                        Kosmetikartikel in Glasbehältern oder ähnliches in den Naßbereich unserer Saunaanlage
                        mitzubringen.</li>
                    <li>Wir bitten Sie darum, die Privatsphäre unsere Gäste zu respektieren. Deshalb bringen Sie bitte
                        keine Mobiltelefone in unsere Saunaanlage. Dies gilt auch für andere technische Geräte, die eine
                        Video-oder Fotofunktion integriert haben. Das Mitführen dieser Geräte ist in unserer Anlage
                        verboten.
                    </li>
                </ul>
            </div>
        </article>
        <div class="md:h-full md:col-span-2 lg:col-span-4 md:px-[4vw] relative">
            <div class="bg-dark w-0.5 h-full hidden md:block absolute left-0"></div>
            <div class="sticky top-32">
                <div class="offset">
                    <h3>Eintrittspreise</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>4 Stunden</td>
                                <td>€ 18,00</td>
                            </tr>
                            <tr>
                                <td>2,5 Stunden</td>
                                <td>€ 16,00</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#preise" class="flex items-center underline align-center">
                        <p>weitere Infos</p>
                        {% include 'icons/icon-arrow-right' %}
                    </a>
                </div>
                <div class="offset">
                    <h3>Leihgebühren</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>Bademantel</td>
                                <td>€ 3,50</td>
                            </tr>
                            <tr>
                                <td>Handtuch</td>
                                <td>€ 2,50</td>
                            </tr>
                            <tr>
                                <td>Badeschuhe</td>
                                <td>€ 1,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                    <h3>Preise für Massagen</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>30 Minuten</td>
                                <td>€ 33,00</td>
                            </tr>
                            <tr>
                                <td>45 Minuten</td>
                                <td>€ 47,00</td>
                            </tr>
                            <tr>
                                <td>60 Minuten</td>
                                <td>€ 60,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>