<section class="grid md:grid-cols-5" id="sauna">
    <div class="sticky top-0 hidden max-h-screen md:col-span-2 md:block">
        {% image "./src/images/innensauna.jpg", "Blick aus der Innensauna", "(min-width: 30em) 50vw, 100vw" "h-full w-full object-cover" %}
    </div>
    <div class="md:col-span-3">
        <div class="bg-sienna px-8 sm:px-16 md:px-[6vw] py-16 md:py-[8vw]">
            <div class="lg:max-w-[80%]">
                <div class="offset">
                    <h2 class="font-bold uppercase text-8xl">Sauna</h2>
                    <p>Das Saunabad bietet zwei Saunen. Eine 100 Grad-Blockbohlen-Sauna in unserem Saunagarten und eine
                        80 Grad Innensauna. Aufgüsse gibt es immer zur vollen Stunde.</p>
                </div>
                <div class="offset">
                    <h3>Preise</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>4 Stunden</td>
                                <td>€ 18,00</td>
                            </tr>
                            <tr>
                                <td>2,5 Stunden</td>
                                <td>€ 16,00</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Es wird ein zusätzlicher Schlüsselpfand berechnet, der nach Rückgabe des
                        Schlüssels erstattet wird. Im
                        Saunabad kann nur bar bezahlt werden. Wir akzeptieren keine Kartenzahlung.</p>
                </div>
                <div>
                  
                    <h3>Preise für Kinder</h3>
                    <p>Kinder haben bis zum sechsten Lebensjahr freien Eintritt. Vom 6. Lebensjahr bis zum 12.
                        Lebenssjahr
                        zahlen Kinder 6 Euro. Vom 12. Lebensjahr bis zum 18. Lebensjahr zahlen Jugendliche 10 Euro. </p>
                </div>
            </div>
        </div>
        <div class="bg-lila px-8 sm:px-16 md:px-[6vw] py-16 md:py-[8vw]">
            <div class="lg:max-w-[80%]">
                <div class="offset">
                    <h2 class="font-bold uppercase text-8xl">Massage</h2>
                    <p class="offset">Wir bieten täglich während unserer Öffnungszeiten Massagen an.
                        Telefonische Reservierungen nehmen wir gern entgegen.<br>
                        Telefon: 030 44046397</p>
                </div>
                <div>
                    <h3>Preise für Massagen</h3>
                    <table>
                        <tbody>
                            <tr>
                                <td>30 Minuten</td>
                                <td>€ 33,00</td>
                            </tr>
                            <tr>
                                <td>45 Minuten</td>
                                <td>€ 47,00</td>
                            </tr>
                            <tr>
                                <td>60 Minuten</td>
                                <td>€ 60,00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>