<nav class="bg-dark flex min-h-[40px] items-center justify-center px-6 md:px-[2vw] py-4 z-20 sticky top-0">

	<div class="items-center hidden md:flex">
		{% include 'icons/icon-map' %}
		<span class="ml-2 text-yellow">Rykestraße 10</span>
	</div>

	<div class="h-[130%] aspect-square rounded-full bg-dark translate-y-4 absolute"></div>

	<div class="relative items-center hidden ml-auto md:flex">
		{% include 'icons/icon-phone' %}
		<a href="tel:00493044046397" class="ml-2 text-yellow">030 44046397</a>
	</div>
	
</nav>