<nav class="bg-dark flex h-16 items-center px-6 z-20 sticky top-0">

	<div class="flex">
		{% include 'icons/icon-map' %}
		<span class=" fluid-text text-yellow ml-2">Rykestraße 10</span>
	</div>

	<div class="w-20 h-20 rounded-full mx-auto bg-dark translate-y-4"></div>

	<div class="flex">
		{% include 'icons/icon-phone' %}
		<a href="tel:00493044046397" class=" fluid-text text-yellow ml-2">030 44046397</a>
	</div>
	
</nav>