<div class="accordion space-y-3">
    {% for faq in faqs %}
    <div class="accordion__collapse bg-sand/60 rounded-lg border border-copper/10 overflow-hidden">
        <div class="relative flex items-center cursor-pointer accordion__header px-5 py-4 hover:bg-sand transition-colors">
            <h5 class="my-0 text-forest font-medium pr-8">
                {{ faq.title }}
            </h5>
            {% include 'icons/icon-chevron-down' classnames: 'w-5 lg:w-[1.4vw] stroke-copper absolute right-4 transition-transform duration-300' %}
        </div>
        <div class="hidden accordion__body px-5 pb-4">
            <p class="text-charcoal/70 leading-relaxed">
                {{ faq.body }}
            </p>
        </div>
    </div>
    {%- endfor %}
</div>